@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --main: #242424;
  --sec: #1a1a1a;
  --third: #3c3c3c;
  --active: #646cff;
  --fotter: #5f5f5f;
}

body {
  background-color: var(--main);
  color: white;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header {
  width: 420px;
  text-align: center;
}

.top {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 25px;
  width: 700px;
  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leaderboard-row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--sec);
  height: 25px;
  width: 700px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px var(--third);
  border: 2px solid var(--third);
  transition: ease-out 0.2s !important;
}

.leaderboard-row:hover {
  scale: 1.02;
  border-color: #646cff;
  box-shadow: 0px 2px 4px #646cff;
}

.first-place {
  border-color: gold !important;
  box-shadow: 0px 2px 4px gold !important;
  scale: 1.03;
}

.first-place:hover {
  scale: 1.05;
}

.second-place,
.third-place {
  scale: 1.02;
}

.third-place {
  box-shadow: 0px 2px 4px brown !important;
  border-color: brown !important;
}

.second-place {
  box-shadow: 0px 2px 4px silver !important;
  border-color: silver !important;
}

.second-place:hover,
.third-place:hover {
  scale: 1.04;
}

.leaderboard-rank,
.leaderboard-name,
.leaderboard-points {
  width: 100%;
  text-align: center;
}

.footer {
  font-size: 12px;
  color: var(--fotter);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}


.Discord {
  scale: 0.25;
  margin: -22px;
  padding: 0px;
}

.leaderboard-name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a {
  font-weight: 500;
  color: var(--active);
  text-decoration: inherit;
  transition: ease-out 0.2s;
}

a:hover {
  color: var(--active);
}